Models
GeoPCViewer/[Ll]ibrary/
GeoPCViewer/[Tt]emp/
GeoPCViewer/[Oo]bj/
GeoPCViewer/[Bb]uild/
GeoPCViewer/[Bb]uilds/
GeoPCViewer/[Ll]ogs/
GeoPCViewer/[Uu]ser[Ss]ettings/
*.mat
*.las
*.m~
.DS_Store
*.bytes
*.DS_Store
ModelGenerator/__pycache__/*